<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>condition example</title>
</head>
<body>
<!-- this is elvis operator -->
<h1><span th:style="${isActive} ? 'color:green':'color:red'" th:text="${isActive} ? 'Active' : 'Not Active'"></span></h1>
<!-- this is if-unless -->
<h1 th:if="${gender}=='M'">Male</h1>
<h1 th:unless="${gender}=='M'">Female</h1>
<!-- this is switch-case -->
<div th:switch="${#lists.size(list)}">
	<h1 th:case="'0'">List contain zero element</h1>
	<h2 th:case="'1'">List contain 1 element</h2>
	<h1 th:case="*">List contain more than 1 elements</h1>
</div>
</body>
</html>